@model IEnumerable<CoverType>
@{
    ViewData["Title"] = "Index";
}

<div class="mb-4 mt-4">
    <div class="col-6 text-primary">
        <h1>Cover Type List</h1>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
        <th>Cover Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
            </tr>
        }
    </tbody>
</table>
